In [88]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, Masking, Embedding
from keras.callbacks import EarlyStopping, ModelCheckpoint
import random
import re

In [2]:
df_loaded = pd.read_csv('./clean_data/clean_data.csv')
df_loaded.drop('Unnamed: 0', axis=1, inplace=True)

**Preparation of dataset for ML training**

In [3]:
df_loaded.head()

,strDrink,strCategory,strGlass,strIngredients,Alc_type,Basic_taste,strInstructions,strMeasures,Value,MeasureName,Value_numeric,Value_ml,Value_gr,Garnish_amount,Garnish_type,MeasureName_copy
0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,Creamy Liqueur,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz white,1,oz,1.0,30.0,NaN,NaN,NaN,white
1,1-900-FUK-MEUP,Shot,Old-fashioned glass,Absolut Kurant,Vodka,NaN,Shake ingredients in a mixing tin filled with ...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,oz
2,110 in the shade,Beer,Beer Glass,Lager,Beer,NaN,Drop shooter in glass. Fill with beer,16 oz,16,oz,16.0,480.0,NaN,NaN,NaN,oz
3,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Malibu Rum,Rum,NaN,Combine all ingredients. Blend until smooth. G...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,oz
4,155 Belmont,Cocktail,White wine glass,Dark Rum,Rum,NaN,Blend with ice. Serve in a wine glass. Garnish...,1 shot,1,shot,1.0,25.0,NaN,NaN,NaN,shot

In [4]:
df = df_loaded.drop('MeasureName_copy', axis=1)

In [5]:
df.drop(df.loc[(df['Value_ml'].isnull()) & (df['Value_gr'].isnull()) & (df['Garnish_amount'].isnull())].index,
                                                                                                           axis=0, inplace=True)

In [6]:
# Create and fill new column with correct measure names

df['Measure'] = np.nan
df['Measure'] = df['Measure'].astype('object')
df['Measure'] = np.where((~df['Value_ml'].isnull()), 'ml', 'gr')
df['Measure'] = np.where(~df['Garnish_amount'].isnull(), 'garnish', df['Measure'])
df['Measure'].unique()

array(['ml', 'gr', 'garnish'], dtype=object)

In [7]:
# Create and fill new column with correct amounts of each ingredient

df['Volume'] = np.nan
df['Volume'] = df['Volume'].astype('object')
df['Volume'] = np.where(df['Measure'] == 'ml', df['Value_ml'], df['Value_gr'])
df['Volume'] = np.where(df['Measure'] == 'garnish', (df['Garnish_amount']+' '+df['Garnish_type']), df['Volume'])
df.head()

,strDrink,strCategory,strGlass,strIngredients,Alc_type,Basic_taste,strInstructions,strMeasures,Value,MeasureName,Value_numeric,Value_ml,Value_gr,Garnish_amount,Garnish_type,Measure,Volume
0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,Creamy Liqueur,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz white,1,oz,1.0,30.0,NaN,NaN,NaN,ml,30
1,1-900-FUK-MEUP,Shot,Old-fashioned glass,Absolut Kurant,Vodka,NaN,Shake ingredients in a mixing tin filled with ...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,ml,15
2,110 in the shade,Beer,Beer Glass,Lager,Beer,NaN,Drop shooter in glass. Fill with beer,16 oz,16,oz,16.0,480.0,NaN,NaN,NaN,ml,480
3,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Malibu Rum,Rum,NaN,Combine all ingredients. Blend until smooth. G...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,ml,15
4,155 Belmont,Cocktail,White wine glass,Dark Rum,Rum,NaN,Blend with ice. Serve in a wine glass. Garnish...,1 shot,1,shot,1.0,25.0,NaN,NaN,NaN,ml,25

In [8]:
# Combine ingredient, volume and measure in one sentence

def combine(line, ingr_col1, ingr_col2=None):
    if ingr_col2:
        lst1 = [line[ingr_col1], line[ingr_col2], line['Volume'], line['Measure']]
    else:
        lst1 = [line[ingr_col1], line['Volume'], line['Measure']]
    lst2 = [str(i) for i in lst1 if str(i) != 'nan']
    return ' '.join(lst2)

    
# combine(df.iloc[1], 'Alc_type')      # test

In [9]:
# One column - alcohol type and basic taste
# Another column - ingredients as they are
# Third column - alcohol type and non-alcoholic ingredient

df['Sentence_type'] = df.apply(lambda x: combine(x, 'Alc_type', 'Basic_taste'), axis=1)
df['Sentence_ingr'] = df.apply(lambda x: combine(x, 'strIngredients'), axis=1)
df['Sentence_type_ingr'] = np.where(df['Alc_type'].isnull(),
                                    df.apply(lambda x: combine(x, 'strIngredients'), axis=1),
                                    df.apply(lambda x: combine(x, 'Alc_type'), axis=1))

In [10]:
df.head()

,strDrink,strCategory,strGlass,strIngredients,Alc_type,Basic_taste,strInstructions,strMeasures,Value,MeasureName,Value_numeric,Value_ml,Value_gr,Garnish_amount,Garnish_type,Measure,Volume,Sentence_type,Sentence_ingr,Sentence_type_ingr
0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,Creamy Liqueur,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz white,1,oz,1.0,30.0,NaN,NaN,NaN,ml,30,Creamy Liqueur 30.0 ml,Creme De Cacao White 30.0 ml,Creamy Liqueur 30.0 ml
1,1-900-FUK-MEUP,Shot,Old-fashioned glass,Absolut Kurant,Vodka,NaN,Shake ingredients in a mixing tin filled with ...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,ml,15,Vodka 15.0 ml,Absolut Kurant 15.0 ml,Vodka 15.0 ml
2,110 in the shade,Beer,Beer Glass,Lager,Beer,NaN,Drop shooter in glass. Fill with beer,16 oz,16,oz,16.0,480.0,NaN,NaN,NaN,ml,480,Beer 480.0 ml,Lager 480.0 ml,Beer 480.0 ml
3,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Malibu Rum,Rum,NaN,Combine all ingredients. Blend until smooth. G...,1/2 oz,1/2,oz,0.5,15.0,NaN,NaN,NaN,ml,15,Rum 15.0 ml,Malibu Rum 15.0 ml,Rum 15.0 ml
4,155 Belmont,Cocktail,White wine glass,Dark Rum,Rum,NaN,Blend with ice. Serve in a wine glass. Garnish...,1 shot,1,shot,1.0,25.0,NaN,NaN,NaN,ml,25,Rum 25.0 ml,Dark Rum 25.0 ml,Rum 25.0 ml

In [11]:
# Reallocate ingredients as columns so each cocktail takes only one row

df_cut = df[['strDrink', 'Sentence_type', 'Sentence_ingr', 'Sentence_type_ingr']]
s =  df_cut.groupby('strDrink').cumcount().add(1)
df_cut = (df_cut.set_index(['strDrink',s]).unstack().sort_index(axis=1, level=1))
df_cut.columns = ['{}_{}'.format(a, b) for a,b in df_cut.columns]

df_cut = df_cut.reset_index()
df_cut.head()

,strDrink,Sentence_ingr_1,Sentence_type_1,Sentence_type_ingr_1,Sentence_ingr_2,Sentence_type_2,Sentence_type_ingr_2,Sentence_ingr_3,Sentence_type_3,Sentence_type_ingr_3,...,Sentence_type_ingr_8,Sentence_ingr_9,Sentence_type_9,Sentence_type_ingr_9,Sentence_ingr_10,Sentence_type_10,Sentence_type_ingr_10,Sentence_ingr_11,Sentence_type_11,Sentence_type_ingr_11
0,'57 Chevy with a White License Plate,Creme De Cacao White 30.0 ml,Creamy Liqueur 30.0 ml,Creamy Liqueur 30.0 ml,Vodka 30.0 ml,Vodka 30.0 ml,Vodka 30.0 ml,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1-900-FUK-MEUP,Absolut Kurant 15.0 ml,Vodka 15.0 ml,Vodka 15.0 ml,Grand Marnier 7.5 ml,Triple Sec 7.5 ml,Triple Sec 7.5 ml,Chambord Raspberry Liqueur 7.5 ml,Sweet Liqueur 7.5 ml,Sweet Liqueur 7.5 ml,...,Pineapple Juice 7.5 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110 in the shade,Lager 480.0 ml,Beer 480.0 ml,Beer 480.0 ml,Tequila 45.0 ml,Tequila 45.0 ml,Tequila 45.0 ml,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,151 Florida Bushwacker,Malibu Rum 15.0 ml,Rum 15.0 ml,Rum 15.0 ml,Light Rum 15.0 ml,Rum 15.0 ml,Rum 15.0 ml,151 Proof Rum 15.0 ml,Rum 15.0 ml,Rum 15.0 ml,...,Vanilla Ice-Cream 128.0 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155 Belmont,Dark Rum 25.0 ml,Rum 25.0 ml,Rum 25.0 ml,Light Rum 50.0 ml,Rum 50.0 ml,Rum 50.0 ml,Vodka 25.0 ml,Vodka 25.0 ml,Vodka 25.0 ml,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def combine(line, col):
    lst1 = [line[col+'_'+str(i)] for i in range(1, 12)]
    lst2 = [str(i) for i in lst1 if str(i) != 'nan']
    return ' '.join(lst2)

        
# combine(df_cut.iloc[1], 'Sentence_ingr')      # test

In [13]:
cols = ['Sentence_ingr', 'Sentence_type', 'Sentence_type_ingr']
for i in cols:
    df_cut[i] = df_cut.apply(lambda x: combine(x, i), axis=1)

In [14]:
df_cut = df_cut[['strDrink', 'Sentence_ingr', 'Sentence_type', 'Sentence_type_ingr']]
df_cut.head()

,strDrink,Sentence_ingr,Sentence_type,Sentence_type_ingr
0,'57 Chevy with a White License Plate,Creme De Cacao White 30.0 ml Vodka 30.0 ml,Creamy Liqueur 30.0 ml Vodka 30.0 ml,Creamy Liqueur 30.0 ml Vodka 30.0 ml
1,1-900-FUK-MEUP,Absolut Kurant 15.0 ml Grand Marnier 7.5 ml Ch...,Vodka 15.0 ml Triple Sec 7.5 ml Sweet Liqueur ...,Vodka 15.0 ml Triple Sec 7.5 ml Sweet Liqueur ...
2,110 in the shade,Lager 480.0 ml Tequila 45.0 ml,Beer 480.0 ml Tequila 45.0 ml,Beer 480.0 ml Tequila 45.0 ml
3,151 Florida Bushwacker,Malibu Rum 15.0 ml Light Rum 15.0 ml 151 Proof...,Rum 15.0 ml Rum 15.0 ml Rum 15.0 ml Creamy Liq...,Rum 15.0 ml Rum 15.0 ml Rum 15.0 ml Creamy Liq...
4,155 Belmont,Dark Rum 25.0 ml Light Rum 50.0 ml Vodka 25.0 ...,Rum 25.0 ml Rum 50.0 ml Vodka 25.0 ml sweet 25...,Rum 25.0 ml Rum 50.0 ml Vodka 25.0 ml Orange J...

**Building a model**

In [15]:
from keras.preprocessing.text import Tokenizer

In [16]:
# Transform the column we want to use for training into list of strings

text = df_cut['Sentence_ingr'].tolist()
text[:5]

['Creme De Cacao White 30.0 ml Vodka 30.0 ml',
 'Absolut Kurant 15.0 ml Grand Marnier 7.5 ml Chambord Raspberry Liqueur 7.5 ml Midori Melon Liqueur 7.5 ml Malibu Rum 7.5 ml Amaretto 7.5 ml Cranberry Juice 15.0 ml Pineapple Juice 7.5 ml',
 'Lager 480.0 ml Tequila 45.0 ml',
 'Malibu Rum 15.0 ml Light Rum 15.0 ml 151 Proof Rum 15.0 ml Dark Creme De Cacao 30.0 ml Cointreau 30.0 ml Milk 90.0 ml Coconut Liqueur 30.0 ml Vanilla Ice-Cream 128.0 gr',
 'Dark Rum 25.0 ml Light Rum 50.0 ml Vodka 25.0 ml Orange Juice 25.0 ml']

In [17]:
# Create Tokenizer object
tokenizer = Tokenizer(num_words=None,      # Define how many most common words to keep. If none, all will be kept
                      filters='',          # Includes punctuation by default but we need to keep dots and we don't have anything
                                           # to clean
                      lower=False,         # We'd like to keep uppercase words
                      split=' ')           # Words in strings are split by whitespace

# Train the tokenizer to the texts
tokenizer.fit_on_texts(text)

# Convert list of strings into list of lists of integers
sequences = tokenizer.texts_to_sequences(text)

sequences[:2]

[[39, 40, 82, 35, 2, 1, 12, 2, 1],
 [68,
  196,
  3,
  1,
  100,
  101,
  71,
  1,
  116,
  91,
  24,
  71,
  1,
  107,
  102,
  24,
  71,
  1,
  108,
  10,
  71,
  1,
  30,
  71,
  1,
  54,
  4,
  3,
  1,
  50,
  4,
  71,
  1]]

In [18]:
# The way to convert it back to words

idx_word = tokenizer.index_word

Set features and labels. In our case features will be pair of words and a label will be the third word following defined pair. We will repeat this labeling with step 1 (i.e. every time second word becomes first word etc) for every sentence we have.

In [19]:
features = []
labels = []

training_length = 2

# Iterate through the sequences of tokens:
for seq in sequences:
    
    # Create a multiple training examples from each sequence
    for i in range(training_length, len(seq)):
        
        # Extract the features and label
        extract = seq[(i - training_length):(i + 1)]
        
        # Set the features and label
        features.append(extract[:-1])
        labels.append(extract[-1])
        
features = np.array(features)
features.shape

(5339, 2)

Transform labels to one-hot encoded, this way neural network trains the most effectively.

In [99]:
# Number of words in vocabulary
num_words = len(idx_word) + 1

# Empty array to hold labels
label_array = np.zeros((len(features), num_words), dtype = np.int32)

# One hot encode for labels
for example_index, word_index in enumerate(labels):
    label_array[example_index, word_index] = 1

label_array.shape

(5339, 397)

In [100]:
label_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [22]:
# Find word corresponding to encoding
idx_word[np.argmax(label_array[100])]

'12.5'

**split in train and test**

In [34]:
# Create callbacks

callbacks = [EarlyStopping(monitor='val_loss', patience=5),
            ModelCheckpoint('../models/model.h5')]

In [104]:
model = Sequential()
# Embedding layer

model.add(
    Embedding(input_dim=num_words,
              input_length = training_length,
              output_dim=20,
#               weights=[embedding_matrix],
              trainable=True,
              mask_zero=True))

# Masking layer for pre-trained embeddings
model.add(Masking(mask_value=0.0))

# Recurrent payer
model.add(LSTM(64, return_sequences=False, dropout=0.1, recurrent_dropout=0.1))

# Fully connected payer
model.add(Dense(64, activation='relu'))

# Dropout for regularization
model.add(Dropout(0.5))

# Output layer
model.add(Dense(num_words, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [106]:
# model.fit(features, label_array, epochs=100, callbacks=callbacks)
model.fit(features, label_array, epochs=10)

Epoch 1/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6205 - accuracy: 0.5656
Epoch 2/10
167/167 [==============================] - 1s 5ms/step - loss: 1.6438 - accuracy: 0.5630
Epoch 3/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6291 - accuracy: 0.5668
Epoch 4/10
167/167 [==============================] - 1s 5ms/step - loss: 1.6266 - accuracy: 0.5653
Epoch 5/10
167/167 [==============================] - 1s 7ms/step - loss: 1.6255 - accuracy: 0.5683
Epoch 6/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6216 - accuracy: 0.5700
Epoch 7/10
167/167 [==============================] - 1s 5ms/step - loss: 1.6185 - accuracy: 0.5632
Epoch 8/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6219 - accuracy: 0.5630
Epoch 9/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6196 - accuracy: 0.5664
Epoch 10/10
167/167 [==============================] - 1s 6ms/step - loss: 1.6076 - accuracy: 0.5709

In [107]:
label_array.shape

(5339, 397)

In [110]:
model.predict

In [156]:
generate_output(model, sequences, idx_word, seed_length=5, new_words=10)

[12, 8, 1, 9, 4, 32, 1, 180, 4, 393, 32, 1, 45, 15, 19, 5, 14, 11, 42, 6]
10
15
[32, 1, 45, 15, 19]
['90.0', 'ml', 'Powdered', 'Sugar', '4.0']
[32, 1, 45, 15, 19, '#']
[32, 1, 45, 15, 19, '#', 5, 14, 11, 42, 6]
5
49
2

<ipython-input-155-064fa64975fa>:43: RuntimeWarning: divide by zero encountered in log
  preds = np.log(preds) / diversity

1
12
79
1
22
3
1
[32, 1, 45, 15, 19, '#', 5, 49, 2, 1, 12, 79, 1, 22, 3, 1]

[['90.0',
  'ml',
  'Powdered',
  'Sugar',
  '4.0',
  None,
  'gr',
  'Egg',
  '30.0',
  'ml',
  'Vodka',
  '40.0',
  'ml',
  'Brandy',
  '15.0',
  'ml']]

In [166]:
def generate_output(model,
                    first_ingredient,
                    idx_word,
                    seed_length=50,
                    new_words=50,
                    diversity=1,
                    return_output=False,
                    n_gen=1):
    """Generate `new_words` words of output from a trained model and format into HTML."""

    # Identify index of ingredient given by user:
    for key, value in idx_word.items():
        if value == first_ingredient:
            seed_idx = key
    print(seed_idx)

In [167]:
generate_output(model, 'Rum', idx_word, seed_length=5, new_words=10)

10

In [159]:
idx_word

{1: 'ml',
 2: '30.0',
 3: '15.0',
 4: 'Juice',
 5: 'gr',
 6: 'garnish',
 7: '60.0',
 8: '45.0',
 9: 'Lemon',
 10: 'Rum',
 11: '1',
 12: 'Vodka',
 13: 'Gin',
 14: 'Orange',
 15: 'Sugar',
 16: '22.5',
 17: 'Cream',
 18: 'Light',
 19: '4.0',
 20: '25.0',
 21: 'Lime',
 22: 'Brandy',
 23: '1.0',
 24: 'Liqueur',
 25: 'Vermouth',
 26: 'Cherry',
 27: '10.0',
 28: 'Triple',
 29: 'Sec',
 30: 'Amaretto',
 31: '2.0',
 32: '90.0',
 33: 'berry',
 34: 'Bitters',
 35: 'White',
 36: 'Sweet',
 37: '120.0',
 38: 'Grenadine',
 39: 'Creme',
 40: 'De',
 41: 'Peel',
 42: 'slice',
 43: 'Water',
 44: 'Irish',
 45: 'Powdered',
 46: 'Tequila',
 47: 'Kahlua',
 48: 'twist',
 49: 'Egg',
 50: 'Pineapple',
 51: 'Dry',
 52: 'Soda',
 53: 'Maraschino',
 54: 'Cranberry',
 55: '6.0',
 56: '0',
 57: 'top',
 58: 'up',
 59: "Bailey'S",
 60: 'Schnapps',
 61: 'Dark',
 62: 'Sour',
 63: '150.0',
 64: '14.0',
 65: 'Milk',
 66: '20.0',
 67: 'Syrup',
 68: 'Absolut',
 69: 'Peach',
 70: 'Coffee',
 71: '7.5',
 72: '50.0',
 73: '8.0',
 74: 'Whiskey',
 75: 'Bourbon',
 76: 'Wine',
 77: '75.0',
 78: 'Ginger',
 79: '40.0',
 80: 'Scotch',
 81: 'Superfine',
 82: 'Cacao',
 83: 'Vanilla',
 84: '128.0',
 85: 'And',
 86: 'Curacao',
 87: 'Nutmeg',
 88: '0.5',
 89: 'Red',
 90: '5.0',
 91: 'Raspberry',
 92: '151',
 93: 'Proof',
 94: '12.5',
 95: 'grated',
 96: 'Apple',
 97: 'Blue',
 98: 'Club',
 99: '750.0',
 100: 'Grand',
 101: 'Marnier',
 102: 'Melon',
 103: 'Ice-Cream',
 104: '37.5',
 105: 'Apricot',
 106: '360.0',
 107: 'Midori',
 108: 'Malibu',
 109: 'Beer',
 110: 'Ale',
 111: 'Salt',
 112: 'Blended',
 113: '180.0',
 114: '236.5',
 115: 'Sambuca',
 116: 'Chambord',
 117: 'Coca-Cola',
 118: 'Citron',
 119: 'Southern',
 120: 'Comfort',
 121: 'Menthe',
 122: 'Chocolate',
 123: 'Champagne',
 124: 'Lemonade',
 125: '2.5',
 126: 'Benedictine',
 127: '330.0',
 128: 'Galliano',
 129: 'Sauce',
 130: 'Coconut',
 131: 'Mint',
 132: 'Mix',
 133: 'Whipped',
 134: '60',
 135: 'Green',
 136: 'Lager',
 137: 'Cointreau',
 138: 'Jägermeister',
 139: 'Jack',
 140: 'Strawberry',
 141: 'Hot',
 142: 'Cognac',
 143: '3.0',
 144: '946.0',
 145: '240.0',
 146: 'Cider',
 147: '64.0',
 148: 'Tea',
 149: 'Frozen',
 150: '125.0',
 151: '32.0',
 152: '270.0',
 153: 'Goldschlager',
 154: 'Daniels',
 155: 'wedge',
 156: 'Grapefruit',
 157: 'Angostura',
 158: 'Sprite',
 159: 'Cassis',
 160: 'Sherry',
 161: 'Sloe',
 162: 'Tabasco',
 163: '0.36',
 164: 'Port',
 165: '100.0',
 166: 'Olive',
 167: '474.0',
 168: 'Wild',
 169: 'Turkey',
 170: '7-Up',
 171: 'Frangelico',
 172: 'Strawberries',
 173: 'Tonic',
 174: 'leaf(ves)',
 175: 'Heavy',
 176: 'Fruit',
 177: 'Campari',
 178: 'whole',
 179: 'Cinnamon',
 180: 'Grape',
 181: 'Jamaican',
 182: 'Crown',
 183: 'Royal',
 184: 'Banana',
 185: 'Everclear',
 186: 'Kool-Aid',
 187: 'around',
 188: 'the',
 189: 'rim',
 190: '1/2',
 191: 'Extract',
 192: '11.25',
 193: 'Lemon-Lime',
 194: 'Or',
 195: '105.0',
 196: 'Kurant',
 197: 'Banane',
 198: '44.0',
 199: '6.25',
 200: 'Fresh',
 201: 'Chartreuse',
 202: 'Blackberry',
 203: 'Cloves',
 204: '3',
 205: 'Mountain',
 206: 'Dew',
 207: 'Of',
 208: '473.0',
 209: '8.333333333333332',
 210: '3785.0',
 211: 'Guinness',
 212: 'Stout',
 213: 'Root',
 214: 'Surge',
 215: '175.0',
 216: 'Godiva',
 217: 'Butterscotch',
 218: 'Tomato',
 219: '711.0',
 220: 'Corona',
 221: 'Bacardi',
 222: 'Limon',
 223: 'Cachaca',
 224: 'Yolk',
 225: 'Spiced',
 226: '42.0',
 227: '1000.0',
 228: 'Anis',
 229: '12.0',
 230: 'Jim',
 231: 'Beam',
 232: 'Añejo',
 233: 'Applejack',
 234: '3.125',
 235: '18.75',
 236: 'Nectar',
 237: 'Pisang',
 238: 'Ambon',
 239: '0.72',
 240: 'Yellow',
 241: '6',
 242: '1892.5',
 243: 'Iced',
 244: 'Cordial',
 245: 'Smirnoff',
 246: '210.0',
 247: 'Prosecco',
 248: 'Tropical',
 249: 'Tia',
 250: 'Maria',
 251: '2000.0',
 252: 'Advocaat',
 253: 'Grated',
 254: 'Peachtree',
 255: '300.0',
 256: '28.0',
 257: 'Damn',
 258: '2',
 259: 'Blackcurrant',
 260: '70.0',
 261: 'Punch',
 262: 'Pisco',
 263: 'Pepper',
 264: 'Skimmed',
 265: 'Agave',
 266: '80.0',
 267: 'Cold',
 268: 'Schweppes',
 269: 'Drambuie',
 270: 'Orgeat',
 271: 'Pepsi',
 272: 'Cola',
 273: '1750.0',
 274: 'Rub',
 275: '355.0',
 276: 'Anisette',
 277: 'Ouzo',
 278: 'Zima',
 279: '480.0',
 280: 'Rumple',
 281: 'Minze',
 282: 'Johnnie',
 283: 'Walker',
 284: '200.0',
 285: 'Kirschwasser',
 286: '43.75',
 287: '165.0',
 288: 'Kummel',
 289: '22.0',
 290: '3784.0',
 291: 'Brown',
 292: 'Allspice',
 293: 'Ground',
 294: 'sticks',
 295: '600.0',
 296: '4000.0',
 297: 'Candy',
 298: 'jelly',
 299: 'fish',
 300: '(candy)',
 301: 'Maui',
 302: 'Gold',
 303: 'Rye',
 304: 'Passion',
 305: '52.5',
 306: "Boone's",
 307: 'Hill',
 308: 'Berry',
 309: 'Celery',
 310: 'Worcestershire',
 311: 'Caramel',
 312: 'Mini-Snickers',
 313: 'Bars',
 314: '450.0',
 315: 'Label',
 316: 'Erin',
 317: 'Mure',
 318: 'Muscatel',
 319: 'Demerara',
 320: 'Heering',
 321: 'Brine',
 322: 'Dubonnet',
 323: 'Rouge',
 324: 'St.',
 325: 'Germain',
 326: 'pinch',
 327: 'Lavender',
 328: 'sprigs',
 329: 'Whipping',
 330: 'Condensed',
 331: '390.0',
 332: '177.75',
 333: 'Firewater',
 334: 'Peppar',
 335: 'Dr.',
 336: '87.5',
 337: 'Sarsaparilla',
 338: '262.5',
 339: '62.5',
 340: 'Sirup',
 341: 'Roses',
 342: 'Carbonated',
 343: '4',
 344: 'Hard',
 345: 'Whisky',
 346: 'Very',
 347: 'strip',
 348: 'Aperol',
 349: 'Tennessee',
 350: 'Baileys',
 351: '58.33333333333333',
 352: 'Jello',
 353: '88.0',
 354: 'Grain',
 355: 'Alcohol',
 356: 'Apfelkorn',
 357: 'Russchian',
 358: 'Kiwi',
 359: 'Bitter',
 360: 'Turkish',
 361: '237.0',
 362: 'Tropicana',
 363: '49.99999999999999',
 364: 'Hazlenut',
 365: 'Double',
 366: 'Cocoa',
 367: 'Powder',
 368: 'Absinthe',
 369: '12',
 370: 'Sweetened',
 371: 'Oreo',
 372: 'Cookie',
 373: 'Pink',
 374: 'Black',
 375: '250.0',
 376: '1500.0',
 377: '225.0',
 378: 'Plain',
 379: 'Ricard',
 380: 'Peychaud',
 381: '990.0',
 382: '192.0',
 383: 'Squash',
 384: 'Cherries',
 385: '1380.0',
 386: '840.0',
 387: 'Berries',
 388: 'Aquavit',
 389: 'Yukon',
 390: 'Maple',
 391: 'Lillet',
 392: 'Blanc',
 393: 'Unsweetened',
 394: 'Half-And-Half',
 395: 'Limeade',
 396: '160.0'}

Functions below have been copied from https://github.com/WillKoehrsen/recurrent-neural-networks/blob/master/notebooks/Exploring%20Model%20Results.ipynb

In [155]:
def generate_output(model,
                    sequences,
                    idx_word,
                    seed_length=50,
                    new_words=50,
                    diversity=1,
                    return_output=False,
                    n_gen=1):
    """Generate `new_words` words of output from a trained model and format into HTML."""

    # Choose a random sequence
    seq = random.choice(sequences)
    print(seq)
    # Choose a random starting point
#     seed_idx = random.randint(0, len(seq) - seed_length - 10)
    seed_idx = random.randint(0, len(seq))
    print(seed_idx)
    # Ending index for seed
    end_idx = seed_idx + seed_length
    print(end_idx)
    gen_list = []

    for n in range(n_gen):
        # Extract the seed sequence
        seed = seq[seed_idx:end_idx]
        print(seed)
        original_sequence = [idx_word[i] for i in seed]
        print(original_sequence)
        generated = seed[:] + ['#']
        print(generated)

        # Find the actual entire sequence
        actual = generated[:] + seq[end_idx:end_idx + new_words]
        print(actual)
        # Keep adding new words
        for i in range(new_words):

            # Make a prediction from the seed
            preds = model.predict(np.array(seed).reshape(1, -1))[0].astype(
                np.float64)

            # Diversify
            preds = np.log(preds) / diversity
            exp_preds = np.exp(preds)

            # Softmax
            preds = exp_preds / sum(exp_preds)
#             print(preds)

            # Choose the next word
            probas = np.random.multinomial(1, preds, 1)[0]
#             print(probas)

            next_idx = np.argmax(probas)
            print(next_idx)

            # New seed adds on old word
            #             seed = seed[1:] + [next_idx]
            seed += [next_idx]
            generated.append(next_idx)
        print(generated)

        # Showing generated and actual abstract
        n = []

        for i in generated:
#             n.append(idx_word.get(i, '< --- >'))
            n.append(idx_word.get(i))

        gen_list.append(n)
    return(gen_list)

#     a = []

#     for i in actual:
#         a.append(idx_word.get(i, '< --- >'))

#     a = a[seed_length:]

#     gen_list = [gen[seed_length:seed_length + len(a)] for gen in gen_list]

#     if return_output:
#         return original_sequence, gen_list, a

#     # HTML formatting
#     seed_html = ''
#     seed_html = addContent(seed_html, header(
#         'Seed Sequence', color='darkblue'))
#     seed_html = addContent(seed_html,
#                            box(remove_spaces(' '.join(original_sequence))))

#     gen_html = ''
#     gen_html = addContent(gen_html, header('RNN Generated', color='darkred'))
#     gen_html = addContent(gen_html, box(remove_spaces(' '.join(gen_list[0]))))

#     a_html = ''
#     a_html = addContent(a_html, header('Actual', color='darkgreen'))
#     a_html = addContent(a_html, box(remove_spaces(' '.join(a))))

#     return seed_html, gen_html, a_html

In [80]:
def addContent(old_html, raw_html):
    old_html += raw_html
    return old_html

In [82]:
def header(text, color = 'black', gen_text = None):
    if gen_text:
        raw_html = f'<h1 style="color: {color};"><p><center>' + str(
        text) + '<span style="color: red">' + str(gen_text) + '</center></p></h1>'
    else:
        raw_html = f'<h1 style="color: {color};"><center>' + str(
            text) + '</center></h1>'
    return raw_html

In [83]:
def box(text, gen_text=None):
    if gen_text:
        raw_html = '<div style="border:1px inset black;padding:1em;font-size: 20px;"> <p>' + str(
            text) +'<span style="color: red">' + str(gen_text) + '</p></div>'

    else:
        raw_html = '<div style="border:1px inset black;padding:1em;font-size: 20px;">' + str(
            text) + '</div>'
    return raw_html

In [84]:
def seed_sequence(model, s, word_idx, idx_word, 
                  diversity = 0.75, num_words = 50):
    """Generate output starting from a seed sequence."""
    # Original formated text
    start = format_sequence(s).split()
    gen = []
    s = start[:]
    # Generate output
    for _ in range(num_words):
        # Conver to arry
        x = np.array([word_idx.get(word, 0) for word in s]).reshape((1, -1))

        # Make predictions
        preds = model.predict(x)[0].astype(float)

        # Diversify
        preds = np.log(preds) / diversity
        exp_preds = np.exp(preds)
        # Softmax
        preds = exp_preds / np.sum(exp_preds)
        # Pick next index
        next_idx = np.argmax(np.random.multinomial(1, preds, size = 1))
        s.append(idx_word[next_idx])
        gen.append(idx_word[next_idx])
    
    # Formatting in html
    start = remove_spaces(' '.join(start)) + ' '
    gen = remove_spaces(' '.join(gen)) 
    html = ''
    html = addContent(html, header('Input Seed ', color = 'black', gen_text = 'Network Output'))
    html = addContent(html, box(start, gen))
    return html

In [86]:
def remove_spaces(s):
    """Remove spaces around punctuation"""
    s = re.sub(r'\s+([.,;?])', r'\1', s)
    
    return s

In [ ]:
seed_html, gen_html, a_html = generate_output(model, sequences, idx_word)
HTML(seed_html)
HTML(gen_html)
HTML(a_html)